<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body data-th-object="${io}">
    <h1>Invoice</h1>
    Invoice id: 
    <span data-th-text="*{invoiceId}"</span></span>
    <br>
    <br>
    Name: 
    <span data-th-text="*{name}"></span>
    <br> 
    <br>
    Address:  
    <span data-th-text="*{address}"></span>
    <br>
    <br>
    Total: $
    <span data-th-text="*{total}"></span>
    <br>
</body>
</html>
